.products-main{
    margin-top: 60px;
}
.products-title{
    font-size: 2rem;
}
.add-product-form{
    margin-top: 30px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    border-radius: 20px;
}
.add-product-form-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.add-products-form-group{
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    background-color: #f4f4f4;
    padding: 0 20px;
    border-radius: 10px;
}
.add-products-input{
    outline: none;
    border: none;
    background: unset;
    padding: 8px 10px;
    font-size: 1.2rem;
}
.add-product-submit{
    background-color: var(--blue);
    color: var(--white);
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
}