
.delete-modal{
    background-color: var(--white);
    padding: 50px;
    text-align: center;
}
.delete-modal h1{
    font-size: 2rem;
}
.delete-modal-btns{
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
.delete-btn{
    width: 100%;
    margin-top: 30px;
    font-size: 1.3rem;
    padding: 20px 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
}
.delete-modal-accept-btn{
    background-color: var(--blue);
    color: var(--white);
}