.modal-parent {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.modal-parent.active{
    opacity: 1;
    visibility: visible;
}
.delete-modal{
    background-color: var(--white);
    padding: 50px;
    text-align: center;
}
.delete-modal h1{
    font-size: 2rem;
}
.delete-modal-btns{
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
.delete-btn{
    width: 100%;
    margin-top: 30px;
    font-size: 1.3rem;
    padding: 18px 0;
border: none;
outline: none;
}
.delete-modal-accept-btn{
    background-color: var(--blue);
    color: var(--white);
}