.modal-parent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.modal-parent.active {
    opacity: 1;
    visibility: visible;
    overflow: scroll;
}

.cms-main {
    margin-top: 60px;
    padding: 20px;
    border-radius: 25px;
}

.cms-title{
    font-weight: bold;
    font-size: 1.4rem;
}

.cms-table {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

}
.cms-table-60{
    width: 60% !important;
}

.cms-table tr {
    text-align: center;
}

.cms-table th, .cms-table td {
    padding: 20px;
}

.cms-table button {
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-left: 5px;
    font-size: 1.1rem;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}