.product {
    flex: 5;
    margin: 0 20px;
}

.productTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productAddButton {
    border: none;
    /* width: 80px; */
    border: none;
    padding: 5px 45px;
    color: #fff;
    background-color: #f6f8fa;
    border-radius: 5px;
    font-family: 'IranSans';
    color: black;
    border: 1px solid #e7e7e7;
    cursor: pointer;
}
.productTop{
    display: flex;
}
.productTopLeft, .productTopRight{
    flex: 1;
}
.productTopRight {
    padding: 20px;
    margin: 20px;
    background-color: #f6f8fa;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
}

.productInfoTop {
    display: flex;
    align-items: center;
}

.productInfoImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.productName {
    font-weight: 600;
}

.productInfoBottom {
    margin-top: 10px;
}

.productInfoItem {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.productInfoKey {
    font-weight: 600;
}

.productInfoValue {
    font-weight: 300;
}
.productBottom {
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.productForm {
    display: flex;
    justify-content: space-between;
}

.productFormLeft {
    display: flex;
    flex-direction: column;
}

.productFormLeft > label {
    margin-bottom: 10px;
    color: gray;
}

.productFormLeft > input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.productFormLeft > input:focus {
    outline: none;
}

.productFormLeft > select {
    margin-bottom: 10px;
}

.productFormRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productUploader {
    display: flex;
    align-items: center;
}

.productUploaderImg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.productButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}