.arrow_icon {
    position: relative;
}
.arrow_icon::before {
    content: "";
    border-bottom: 2px solid #fff;
    display: block;
    border-right: 2px solid #fff;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
    position: absolute;
    top: 24%;
    left: 1px;
    transition: transform 0.15s ease-in-out;
}
.arrow_icon:hover::before {
    transform: rotate(224deg);
}

#option {
    @extend .search-inputs;
}
.noOverflow{
    overflow: visible;
}
.social-media-circle-icon{
    color: $color-white;
        font-size: $fontSize14;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 20px;
        border: 1px solid rgba(#fff, 0.2);
        border-radius: 100%;
        padding: 5px;
        line-height: 20px;

        &:hover{
            background: $bg-blue;
        }
}

// slider

.takhfif {
    position: absolute;
    background: $bg-blue;
    // display: inline-block;
    top: 0;
    right: 0;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: $fontSize13;
    color: #fff;
    // width: 350px;
}
.takhfif-yellow{
    font-size: $fontSize13;
    position: absolute;
    color: black;
    @extend .takhfif;
    background: #ffdf23;
}
.counterBadge {
    position: absolute;
    border-radius: 50px !important;
    background: $bg-blue;
    line-height: 18px;
    display: inline-block;
    font-weight: 400 !important;
    vertical-align: middle;
    right: 9px;
    width: 18px !important;
    height: 18px !important;
    text-align: center;
    font-size: 0.75rem;
    color: $color-white;
    right: 16px;
    top: -6px;
}

.footerText {
    font-size: 12px;
    opacity: 0.5;
    transition: all 0.3s ease;
    text-align: center;

    a{
        text-decoration: none;
        color: red;
    }
}
.footerText:hover {
    transform: scale(1.1);
    /* font-size: 24px; */
    opacity: 1;
}
.love {
    color: red;
}